@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
  
}
.roxo{
    background-color: #AD43CB;
    color: white;
}
.laranja{
    background-color: #F8B239;
    color: white;
}
section{
    min-height: 100vh;
    width: 100%;
}
nav{
    background-color: #BA80CA;
    height: 22vh;
    border-bottom-right-radius: 27px;
    border-bottom-left-radius: 27px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hamburguer {
    display: inline-block;
    cursor: pointer;
    display: none;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 100px;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
ul{
list-style: none;
}
nav div.logo{
    display: flex;
    justify-content: center;
    width: 50vw;
}
nav div.logo img{
    height:  22vh;
}
nav ul{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
}
nav ul a{
    color: white;
    text-decoration: none;
}
.introducao{
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    height: 88vh;
}
.introducao a{
    color: white;
    text-decoration: none;
}
.introducao div{
    width: 50vw;
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.introducao div img{

    margin-top: 4.5vh;
    width: 45vw;
}
.introducao div.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.introducao div.texto h2{
    font-weight: 700;
    font-size: 7vh;
    padding-right: 10vw;
    text-transform: uppercase;
    
}
.introducao div.texto p{
    font-weight: 600;
    font-size: 2vh;
    margin-top: 3vh;
    padding-right: 20vw;
}
.introducao div.texto a{
    font-weight: 700;
    font-size: 2vh;
    color:#F8B239 ;
    background-color: white;
    padding:2vh 3vh;
    border-radius: 15px;
    margin-right: auto;
    margin-top: 3vh;
}
.comofunciona{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.comofunciona h2{
    color: #F8B239;
    font-weight: 700;
    font-size: 5vh;
}
.comofunciona div.cards{
    margin-top: 10vh;
    display: flex;
    width: 70vw;
    align-items: center; 
    justify-content: space-around;
}
.comofunciona div.cards div.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #AD43CB;
    width: 20vw;
    height: 60vh;
    color: white;
    border-radius: 27px;

}
.comofunciona div.cards div.card div.text{
    margin-top: 3vh;
    padding: 0 3vh;
}
.comofunciona div.cards div.card div.text h3{
   font-size: 3vh;
    font-weight: 700;

}
.comofunciona div.cards div.card div.text p{
    margin-top: 3vh;
    font-weight: 600;

}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,1fr);
    align-items: center;
}

.s{
    height: 100vh;
}
.s1{
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    position: relative;
   
    
}
.s1 div{
    width: 65vh;
    position: absolute;
    top: 30vh;
    left: 17vw;
}
.s1 div h1{
    font-size: 6vh;
    font-weight: 700;
    padding-right:5vh ;
    text-transform: uppercase;
}
.s1 div p{
    margin-top: 4vh;
    font-size: 2.5vh;
    line-height: 4vh;
    
  
}
.s1 img{
    width: 70%;
    position: absolute;
    top: -30vh;
    right: 0;
    z-index: 2;
}
.s2{
    grid-row: 2/3;
    grid-column: 1/4;
    display: flex;
    position: relative;
  
}
.s2 img{
    width: 30%;
    position: absolute;
    top: 0;
    left: 15vw;
    z-index: 2;
}
.s2 h1{
    width: 50%;
    position: absolute;
    bottom: 35vh;
    right: 0;
    font-size: 7vh;
    font-weight: 700;
    padding-right:50vh ;
    margin-left: 20vh;
}
.s3{
    display: flex;
    flex-direction: column;
    grid-column: 1/4;
    justify-content: start;
    align-items: center;
}
.s3 img{
    width: 40vw;
}
.s3 div.textoespecial{
    position: relative;
    width: 50vw;
    margin-top: 10vh;
}
.s3 div.textoespecial h1{
    position: absolute;
    font-size: 6.2vh;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
     
}

.s3 div.textoespecial h1.branco{
    z-index: 100 !important;

}
.s3 div.textoespecial h1.roxinho{

    color: #AD43CB;
    top: .5vh;
    left: -.5vw;
    z-index: 2;

}

.s3 div.textoespecial h1.laraninha{
    color: #F8B239;
    top: .7vh;
    left: -.7vw;
   
}

.s4{
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.s4 img{
    width: 40vw;
}
.s4 div{
    width: 40vw;
}
.s4 div h1{
    font-size: 5vh;
    font-weight: 700;
    text-transform: uppercase;
}
.s4 div p{
    margin-top: 3vh;
    padding: 0 5vw;
    font-size: 2.5vh;
    line-height: 4vh;
    font-weight: 600;
    
  
}
.s5{
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.s5 img{
    
    width: 60vw;
}
.s5 div{
    width: 30vw;
}
.s5 div h1{
    text-transform: uppercase;
    color: #F8B239;
    font-size: 5vh;
    font-weight: 700;
}
.s5 div p{
    margin-top: 3vh;
    font-weight: 600;
    padding: 0 2vh;
    font-size: 2.5vh;
    line-height: 4vh;
    
  
}
.s6{
    grid-column: 1/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.s6 img{
    
    width: 60vw;
}
.s6 div{
    width: 30vw;
}
.s6 div h1{
    text-transform: uppercase;
    font-size: 5vh;
    font-weight: 700;
}
.s6 div p{
    margin-top: 3vh;
    font-weight: 600;
    padding: 0 2vh;
    font-size: 2.5vh;
    line-height: 4vh;
    
  
}
.jogueagora{
    display: flex;
    justify-content: center;
    align-items: center;
}
.jogueagora img{
    width: 50vw;
    margin-top: 5vh;
}
.jogueagora img.botaobaixar{
    width: 20vw;
}
.jogueagora div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.jogueagora div h2{
    text-transform: uppercase;
    font-size: 5vh;
    font-weight: 700;
    color: #F8B239;
    text-align: center;
}
footer{
    background-color: #BA80CA;
    height: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    height: 13vh;
}

@media (max-width:600px){
    div{
        overflow: hidden;
    }
    nav{
        height: 15vh;
        transition: .5s height;
        
    }
    nav div.logo img{
        height:  12vh;
    }
    nav ul a {
        font-size: 1.5vh;
    }
    .introducao div.texto a{
        margin-right: 0;
    }
    
    .introducao{
       
        flex-direction: column;
    }
    .introducao div{
       text-align: center;
        width: 85vw;
    }
    .introducao div img{
        width: 80vw;
        margin-top: 5vh;
    }
    .introducao div.texto h2 {
        font-weight: 700;
        font-size: 3vh;
        padding-right: 0;
    }
    .introducao div.texto p {
        font-weight: 600;
        font-size: 2vh;
        margin-top: 2vh;
        padding-right: 0;
    }
    .s1 img{
        display: none;
    }
    .comofunciona h2{
        text-align: center;
        padding-top: 3vh;
        padding-right: 2vh;
        padding-left: 2vh;
        font-size: 4vh;
    }

.comofunciona div.cards{
    flex-direction: column;
    margin-top: 2vh;
    height: 100%;
 
}
.comofunciona div.cards div.card{
    width: 100%;
    margin-bottom: 3vh;
  
}
.comofunciona div.cards div.card img{
    width: 30%;
    margin-top: 2vh;
    
}
.comofunciona div.cards div.card div.text {
margin-top: 1vh;

}
.comofunciona {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.grid{
    display: block;
}
.s1{
    flex-direction: column;
    position: inherit;
    align-items: center;
    height: 100%;
 
}
.s1 div {
    width: 100vw;
    position: inherit;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 5vh 3vw;
    align-items: center;

}
.s1 div h1 {
    font-size: 4vh;
    font-weight: 700;
    padding-right: 0;
    text-transform: uppercase;
}
.s1 div p{
    margin-top: 3vh;
    font-size: 2vh;
    line-height: 3vh;
    font-weight: 600;
    text-align: center;


    
}
.s{

    height: auto;
}
.s2{
    position: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s2 img {
    width: 60%;
    position: inherit;
    margin: 3vh 0;
    
}
.s2 h1 {
    width: 80%;
    text-align: center;
    position: inherit;
   
   margin-top: 6vh;
    font-size: 5vh;
    font-weight: 700;
   padding-right: 0; 
   margin-left: 0;
}
.s3{
    justify-content: center;
    align-items: center;
}
.s3 img {
    margin-top: 10vh;
    width: 60vw;
}
.s4 {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.s4 img {
    width: 60vw;
    margin-bottom: 15vh;
    order: 2;

}
.s4 div {
    width: 90vw;
    
}
.s4 div p {
    margin-top: 3vh;
    margin-bottom: 5vh;
    padding: 0 2vw;
    font-size: 2vh;
    line-height: 4vh;
    font-weight: 600;
}
.s5 {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.s5 img {
    width: 60vw;
    margin-bottom: 15vh;
    order: 2;

}
.s5 div {
    width: 90vw;
    margin-top: 5vh;
}
.s5 div p {
    margin-top: 3vh;
    margin-bottom: 5vh;
    padding: 0 2vw;
    font-size: 2vh;
    line-height: 4vh;
    font-weight: 600;
}
.s6 {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.s6 img {
    width: 60vw;
    margin-bottom: 15vh;
    order: 2;

}
.s6 div {
    width: 90vw;
    margin-top: 5vh;
}
.s6 div p {
    margin-top: 3vh;
    margin-bottom: 5vh;
    padding: 0 2vw;
    font-size: 2vh;
    line-height: 4vh;
    font-weight: 600;
}

.jogueagora{
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}
.jogueagora img {
    width: 90vw;
    margin-left: 10vw;
    margin-top: 0vh;
}
.jogueagora img.botaobaixar {
    width: 60vw;
    margin-top: 4vh;
}
footer {
    background-color: #BA80CA;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img {
    height: 7vh;
}
.s3 div.textoespecial {
    position: relative;
    width: 90vw;
    height: 25vh;
    margin-top: 10vh;
}
.s3 div.textoespecial h1 {
    position: absolute;
    font-size: 4.5vh;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.hamburguer {
    display: inline-block;
    cursor: pointer;
    display: inline-block;
    margin-top: 4vh;
 
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 100px;
  }
  nav{
      justify-content: space-around;
      align-items: flex-start;
  }
  nav div.logo img {
      margin-top: 2vh;
    display: flex;
    margin-right: 30vw;
    width: 50vw;
    position: relative;
}
  nav ul{
      flex-direction: column;
        position: absolute;
    
        width: 50vw;
        opacity: 0;
        bottom: 45vh;
        margin-left: 5vw;


        transition: .3s ease-out opacity;
     
        

  }
  .opacity{
      opacity: 1;
  }

  nav ul li{
   margin-bottom: 5vh;
  }
  nav ul li a{
  
 font-size: 3vh;
}
.navExpand{
    height: 50vh;
}

}